<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Books.com</h1>
    <hr>

    <h2>Edit {{publisher}}</h2>
    <form action="{% url 'app:publisher-update' publisher.pk %}" method="POST">
        {% csrf_token %}
        {{form}}

        <br>
        <br>
        <input type="submit" value="Save Changes">
        <a href="{% url 'app:index' %}">Cancel</a>
    </form>
</body>
</html>