<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Books.com</h1>
    <hr>

    <h2>Add Author</h2>

    <form action="{% url 'app:author-update' author.pk %}" method="POST">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{author}}">
        <input type="submit" value="Save">
        <a href="{% url 'app:author-detail' author.pk %}">Cancel</a>
    </form>
</body>
</html>