{% extends 'app/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    
    <h2>{{author}}</h2>

    <p>Books:</p>
    {% for book in author.book_set.all %}
    <li><a href="{{book.get_absolute_url}}">{{book}}</a></li>
    {% endfor %}

    <br>
    <a href="{% url 'app:author-update' author.pk %}">Edit</a> |
    <a href="{% url 'app:author-delete' author.pk %}">DELETE</a>
    
    {% endblock %}
</body>
</html>