{% extends 'app/base.html' %}

{% block content %}

{% if user.is_authenticated %}

<p>Welcome, {{user}}!</p>
<form action="{% url 'accounts:logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

<br>
<a href="{% url 'app:index' %}">Back</a> |
<a href="{% url 'accounts:password-change' %}">Change Password</a> |
<a href="{% url 'app:book-create' %}">Add Book</a>

{% else %}

<p>You're currently visiting the site as a Guest User!</p>
<a href="{% url 'accounts:login' %}"><button>Login</button></a>
<a href="{% url 'accounts:register' %}"><Button>Signup</Button></a>
<a href="{% url 'app:index' %}"><button>Back</button></a> 

{% endif %}

<h3>Books:</h3>
<table>
    <thead>
        <tr>
            <th style="border: 1px solid; padding: 0px 20px;">ID</th>
            <th style="border: 1px solid; padding: 0px 20px;">Book Title</th>
            <th style="border: 1px solid; padding: 0px 20px;">Owner</th>
            <th style="border: 1px solid; padding: 0px 20px;">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td style="border: 1px solid; padding: 0px 20px;">{{book.pk}}</td>
            <td style="border: 1px solid; padding: 0px 20px;">{{book}}</td>
            <td style="border: 1px solid; padding: 0px 20px;">{{book.owner}}</td>
            <td style="border: 1px solid; padding: 0px 20px;">
                <a href="{% url 'app:book-detail' book.pk %}">View</a>
                {% if book.owner == user %}
                | <a href="{% url 'app:book-update' book.pk %}">Edit</a>
                | <a href="{% url 'app:book-delete' book.pk %}">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}