<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Books.com</h1>
    <hr>

    <form action="" method="POST">
        {% csrf_token %}
        <div>
            Title:
            <input type="text" name="title">
        </div>
        <div>
            Publisher:
            <select name="publisher" id="">
                {% for publisher in publishers %}
                <option value="{{publisher.pk}}">{{publisher}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            Author:
            <select name="authors" id="" multiple>
                {% for author in authors %}
                <option value="{{author.pk}}">{{author}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Save</button>
    </form>
</body>
</html>