<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/base.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
    <div id="nav-bar">
        <h1 class="title">Books.com</h1>
        <div class="links">
            <a href="{% url 'app:publisher-list' %}"><button>Home</button></a>
            <a href="{% url 'app:publisher-create' %}"><button>Add Publisher</button></a>
            <a href="{% url 'app:book-create' %}"><button>Add Book</button></a>
            <a href="{% url 'app:author-create' %}"><button>Add Author</button></a>
        </div>
    </div>

    <div id="content">
        {% block content %} 
        {% endblock %}
    </div>

    <footer>
        <p>Copyright 2024</p>
    </footer>
</body>
</html>